# Core Django
Django==5.2.3
djangorestframework==3.15.2

# Database
psycopg2-binary==2.9.9

# GraphQL
graphene-django==3.2.2
django-graphql-jwt==0.4.0

# Authentication & Security
PyJWT==2.9.0
django-cors-headers==4.4.0

# Environment
python-decouple==3.8

# Development tools (remover en producción)
django-extensions==3.2.3


